{% load static wagtailimages_tags i18n %}

<div class="expert" id="{{ volunteer.pk }}">
  <div class="expert__image-container">
    {% image volunteer.picture fill-200x200 as image %}
    <img class="expert__image" src="{{ image.url }}" alt="{{ image.alt }}">
  </div>

  <div class="expert__content">
    <div class="expert__title-container">
      <h3 class="expert__title">{{ volunteer.name }}</h3>
      {% if volunteer.website %}
        <a class="expert__linkedinlink" href="{{ volunteer.website }}"><span class="expert__link-icon"></span></a>
      {% endif %}
      {% if volunteer.linkedin_profile %}
        <a class="expert__linkedinlink" href="{{ volunteer.linkedin_profile }}"><span class="expert__linkedin-icon"></span></a>
      {% endif %}
      {% if volunteer.twitter_profile %}
        <a class="expert__linkedinlink" href="{{ volunteer.twitter_profile }}"><span class="expert__twitter-icon"></span></a>
    {% endif %}
      {% if volunteer.orcid_profile %}
        <a class="expert__linkedinlink" href="{{ volunteer.orcid_profile }}"><span class="expert__orcid-icon"></span></a>
      {% endif %}
    </div>
    <div class="expert__text richtext">
      <p><strong>{{ volunteer.affiliation }}</strong></p>
      <p>{{ volunteer.bio }}</p>
    </div>
  </div>
</div>
