# Static project files
/apps/frontend/static/
/media/
/static/
/tmp/

# Python files
.Python
.python-version
*.pyc
__pycache__
pip-selfcheck.json

# OS and project files
.DS_Store
.template-version
.vscode
.pytest_cache/
.env
*.swp
/.vagrant/
/docs/_build/
/bin/
/include/
/lib/
/settings/local.py
/Vagrantfile.local
/venv/
db.sqlite3
nosetests.xml
docenv
env
requirements.txt.done
src/
stats/
.idea/

# Coverage
.coverage
coverage.xml
htmlcov/

# frontend stuff
node_modules
webpack-stats.json
yarn-error.log

# logs
error.log
log/

# generated manual files
docs/*.pdf
man/

requirements.txt.done
