{% load static wagtailimages_tags i18n %}

<div class="expert" id="{{ expert.pk }}">
    <div class="expert__image-container">
      <img class="expert__image" src="{% static 'images/detlefvanvuren.png' %}" alt="profile picture">
    </div>

    <div class="expert__content">
      <div class="expert__title-container">
        <h3 class="expert__title">{{ expert.name }}</h3>
        <span class="expert__linkedin-icon"></span>
      </div>
      <div class="expert__text richtext">
        <p><strong>{{ expert.affiliation }}</strong></p>
        <p>{{ expert.bio }}</p>
      </div>
      <div class="expert__link">
        <a class="expert__link-text" href="/answers_by/{{ expert.pk }}">{%  trans 'Bekijk de vragen die beantwoord zijn door ' %} {{ expert.name }}</a>
      </div>

      <div class="expert__themes">
        {% for category in expert.get_answer_categories %}
          <a href="/answers{{ category.get_prefiltered_search_params }}"><span class="tag">{{ category }}</span></a>
        {% endfor %}
      </div>
    </div>
</div>
