.content-header {
  position: relative;
  margin: 0 0 100px 0;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba($color-yellow-warm, 1), rgba($color-yellow-background, 1));
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .content-header__wrapper {
    @include grid-container;
    padding-top: 55px;
  }

  .content-header__back-link {
    position: relative;
    grid-column: column 2;
    top: -20px;
    cursor: pointer;
    height: 0;
  }

  .content-header__back-link-icon {
    background-image: url('/static/icons/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 20px;
    transform: rotate(180deg);
  }

  .content-header__title-container {
    grid-column: column 2 / span 9;
  }

  .content-header__title {
    @include typography(heading-1);
  }

  .content-header__theme {
    grid-column: column 2 / span 9;
    margin-bottom: 50px;
  }

  .content-header__introduction {
    grid-column: column 2 / span 10;
    margin-bottom: 10px;
  }

  .content-header__introduction-text {
    @include typography(introduction);
  }

  .content-header__tags {
    grid-column: column 2 / span 11;
  }

  .content-header__tag {
    @include typography(paragraph);
    display: inline-block;
    width: 40%;
    margin-bottom: 5px;
  }

  @include landscape {
    .content-header__wrapper {
      padding-top: 100px;
    }
    .content-header__title-container {
      grid-column: column 1 / span 10;
    }

    .content-header__title {
      margin-bottom: 100px;
    }

    .content-header__back-link {
      grid-column: column 1;
      left: -160px;
      top: -60px;
    }

    .content-header__back-link-icon {
      width: 30px;
      height: 20px;
    }

    .content-header__theme {
      grid-column: column 1 / span 3;
    }

    .content-header__introduction {
      grid-column: column 5 / span 8;
    }

    .content-header__tags {
      grid-column: column 5 / span 8;
    }

    .content-header__tag {
      width: auto;
      margin-right: 20px;
    }
  }
}
