.content {
  position: relative;
  margin: var(--margin) 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 180px);
    top: -100px;
    background-color: $color-yellow-background;
  }

  .content__container {
    @include grid-container;
  }

  .content__answer {
    grid-column: column 2 / span 10;
  }

  @include landscape {
    .content__answer {
      grid-column: column 5 / span 8;
    }
  }
}
