.disclosure {
  position: relative;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-yellow-warm;
    z-index: 1;
  }

  .disclosure__content {
    @include grid-container;
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .disclosure__title {
    @include typography(heading-2, false, false);
    grid-column: column 2 / span 10;
    z-index: 2;
  }

  .disclosure__text {
    @include typography(paragraph, false, false);
    display: inline-block;
    grid-column: column 2 / span 10;
    z-index: 2;
  }

  .disclosure__disclosure {
    @include grid-container;
    margin-bottom: 80px;
    padding-bottom: 80px;
  }

  .disclosure__disclosure-title {
    @include typography(heading-4, true, true);
    grid-column: column 2 / span 10;
    border-bottom: 1px solid $color-true-black;
    padding-bottom: 5px;
    z-index: 2;
  }

  .disclosure__title-button {
     &[aria-expanded='true'] {
      .disclosure__title-button-icon {
        transform: rotate(180deg);
      }
    }
  }

  .disclosure__title-button-icon {
    background-image: url('/static/icons/chevron-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
    margin-left: 10px;
}

  .disclosure__disclosure-content {
    grid-column: column 2 / span 10;
    z-index: 2;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  @include landscape {
    .disclosure__content {
      padding-top: 100px;
    }

    .disclosure__disclosure {
      padding-bottom: 100px;
    }

    .disclosure__title {
      grid-column: column 1 / span 3;
    }

    .disclosure__text {
      grid-column: column 5 / span 8;
    }

    .disclosure__disclosure-title {
      grid-column: column 5 / span 8;
    }

    .disclosure__disclosure-content {
      grid-column: column 5 / span 8;
    }
  }
}
