.expert {
  position: relative;
  margin: 0 0 60px 0;
  @include grid-container;

  &:not(:last-child) {
    padding-bottom: 60px;
  }

  &:not(:first-child) {
    &::before {
      content: '';
      border-bottom: 1px solid $color-true-black;
      position: relative;
      grid-column: column 2/ span 10;
      bottom: 60px;
    }
  }

  .expert__image-container {
    grid-column: column 2 / span 10;
  }


  .expert__image {
    width: 133px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .expert__linkedin-icon {
    background-image: url('/static/icons/linkedin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 10px;
  }

  .expert__content {
    grid-column: column 2 / span 10;
  }

  .expert__title {
    @include typography(heading-3);
    display: inline-block;
  }

  .expert__text {
    margin-bottom: 45px;
  }

  .expert__link {
    margin-bottom: 20px;
  }

  .expert__link-text {
    @include typography(paragraph);
    color: $color-true-black;
    text-decoration: underline;
    font-weight: 600;
  }

  @include landscape {
    &:not(:first-child) {
      &::before {
        content: '';
        border-bottom: 1px solid $color-true-black;
        position: relative;
        grid-column: span 12;
        bottom: 60px;
    }
  }
    .expert__image-container {
      grid-column: column 3 / span 2;
    }

    .expert__content {
      grid-column: column 5 / span 8;
    }

    .expert__title-container {
      margin-bottom: 15px;
    }
  }
}
