.expert-list {
  position: relative;

  &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% + 180px);
      top: -100px;
      background-color: $color-orange-light;
  }
}
