.form {
  position: relative;

  &::before {
    content: '';
    background-color: $color-yellow-background;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
  }

  .form__wrapper {
    @include grid-container;
  }

  .form__header__container {
    grid-column: column 2 / span 10;
  }

  .form__header {
    @include typography(heading-1);
    padding: 40px 0 100px 0;
  }

  .form__header-text {
    @include typography(introduction);
  }

  .form__form {
    grid-column: column 2 / span 10;
  }

  .form__form-subtitle {
    @include typography(heading-2);
    margin-bottom: 20px;

    #form-step__selected-categories {
      .tag {
        margin-right: 5px;
      }
    }
  }

  .form__tag-container {
    margin-bottom: 50px;
  }

  .form__tag {
    input {
      display: none;

      &:checked ~ label {
        background-color: $color-true-black;
        color: $color-white;
      }
    }
  }

  .form__button {
    margin-bottom: 50px;
  }

  .form__tip {
    margin-bottom: 70px;
  }

  .form__tip-text {
    @include typography(paragraph);
    color: $color-true-black;
  }

  .form__link {
    @include typography(heading-4);
    color: $color-true-black;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  .form__link-icon {
    background-image: url('/static/icons/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 10px;
    vertical-align: middle;
    width: 20px;
  }

  .form__back-link {
    position: relative;
    top: 20px;
    cursor: pointer;
    height: 0;
  }


  .form__back-link-icon {
    background-image: url('/static/icons/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 20px;
    transform: rotate(180deg);
  }

  .form__form-fields {
    margin-bottom: 50px ;

    .form-field {
      margin: 0 0 55px 0;

      label {
        display: block;
        @include typography(heading-4);
      }

      input {
        background-color: transparent;
        border-bottom: 2px solid $color-true-black;
        width: 100%;
        @include typography(heading-2);
      }

       #id_accept_terms, p {
        @include typography(paragraph);
        display: inline-block;
         width: auto;
         vertical-align: middle;
      }
    }
  }

  .form__error {
      color: $color-orange-dark;
      @include typography(heading-5);
      margin-bottom: 30px;
    }

  .errorlist {
    @include typography(paragraph);
    color: $color-orange-dark;
  }

  @include landscape {
    .form__header__container {
      grid-column: column 1 / span 12;
    }

    .form__form {
      grid-column: column 5 / span 8;
    }

    .form__link-icon {
      display: inline-block;
      margin-left: 10px;
    }

    .form__back-link-icon {
      width: 30px;
      height: 20px;
    }

    .form__back-link {
      top: 60px;
    }
  }
}
