.highlighted-link {
  position: relative;

  // To hide question-link border bottom
  margin-top: -1px;

  &::before {
    content: '';
    background-color: $color-yellow-warm;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    box-shadow: 47vw 0 0 0 $color-yellow-warm;
  }

  .highlighted-link__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    position: relative;
  }

  .highlighted-link__author {
    @include typography(attribution);
  }

  .highlighted-link__author-name {
    font-weight: 600;
  }

  .highlighted-link__title {
    @include typography(heading-3);
    margin-bottom: 10px;
  }

  .highlighted-link__link {
    color: $color-true-black;
  }
}
