.highlighted-link {
  position: relative;

  &::before {
    content: '';
    background-color: $color-yellow-warm;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .highlighted-link__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    position: relative;
  }

  .highlighted-link__author {
    @include typography(attribution);
  }

  .highlighted-link__author-name {
    font-weight: 600;
  }

  .highlighted-link__title {
    @include typography(heading-3);
    margin-bottom: 10px;
  }

  .highlighted-link__link {
    color: $color-true-black;
  }
}
