.question-link {
  padding-bottom: 15px;
  border-bottom: 1px solid $color-true-black;
  display: block;
  color: $color-true-black;

   &:last-child {
      border-bottom: 0;
    }

  .question-link__title {
    @include typography(heading-3, true, true);
    margin-top: 35px;
    margin-bottom: 15px;
    color: $color-true-black;
  }

  .question-link__author {
    @include typography(attribution);
    margin: 0 10px 0 0;
  }

  .question-link__author-name {
    font-weight: 600;
  }

  @include landscape {
     padding-bottom: 40px;

    .question-link__title {
      margin-top: 45px;
    }

    .question-link__author {
      display: inline-block;
    }
  }
}
