.question-link-list {
  position: relative;
  margin: 0;
  @include grid-container;

  .question-link-list__title {
    @include typography(heading-4);
    grid-column: column 2 / span 10;
    padding: 40px 0 25px 0;
    border-bottom: 1px solid $color-true-black;
  }

  .question-link-list__links {
    grid-column: column 2 / span 10;
  }

  .question-link-list__button {
    grid-column: column 2 /span 10;
  }

  @include landscape {
    .question-link-list__title {
      @include typography(heading-4);
      grid-column: column 1 / span 9;
    }

   .question-link-list__links {
     grid-column: column 1 / span 9;
    }

    .question-link-list__button {
      grid-column: column 1 /span 9;
    }
  }
}
