.question-link-list {
  position: relative;
  margin: var(--margin) 0;
  @include grid-container;

  .question-link-list__links {
    grid-column: column 2 / span 10;
  }

  @include landscape {
   .question-link-list__links {
     grid-column: column 1 / span 9;
    }
  }
}
