.quote {
  position: relative;
  margin: var(--margin) 0;

    &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 180px);
    //top: -100px;
    background-color: $color-yellow-background;
  }

  .quote__wrapper {
    @include grid-container;
  }

  .quote__text {
    grid-column: column 2 / span 10;
    z-index: 1;
    @include typography(quote);
  }

  @include landscape {
    .quote__text {
      grid-column: column 4 / span 9;
    }
  }
}
