.related-content {
  position: relative;
  margin:  0;

  &::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: $color-yellow-warm;
    width: 30vh;
    height: 30vh;
    filter: blur(60px);
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.7;
  }

  .related-content__wrapper {
    @include grid-container;
    padding-bottom: 40px;
  }

  .related-content__title-wrapper {
    grid-column: column 2 / span 9;
  }

  .related-content__title {
    @include typography(heading-2, true, true);
    border-bottom: 1px solid $color-true-black;
    padding-bottom: 20px;
  }

  .related-content__link {
    grid-column: column 2 / span 9;
    border-bottom: 1px solid black;
    padding-bottom: 45px;
    padding-top: 25px;

    &:last-child {
      border-bottom: 0;
    }
  }

  .related-content__link-title {
    @include typography(heading-3);
    margin-bottom: 25px;
    color: $color-true-black;
  }

  .related-content__link-author {
    @include typography(paragraph);
    margin: 0 10px 10px 0;
    color: $color-true-black;
  }

  .related-content__auhtor-name {
    font-weight: 600;
  }

  @include landscape {
     &::before {
       content: '';
       height: 70vh;
       width: 70vh;
     }

    .related-content__wrapper {
      padding-bottom: 45px;
      padding-top: 20px;
    }

    .related-content__title-wrapper {
      grid-column: column 1 / span 9;
    }

    .related-content__link {
      grid-column: column 1 / span 9;
    }

    .related-content__link-author {
      float: left;
    }
  }
}
