.simple-header {
  position: relative;
  margin: 0 0 100px 0;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba($color-orange-dark, 1), rgba($color-orange-light, 1));
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .simple-header__wrapper {
    @include grid-container;
    padding-top: 55px;
    padding-bottom: 80px;
  }

  .simple-header__back-link {
    position: relative;
    grid-column: column 2;
    top: -20px;
    cursor: pointer;
    height: 0;
  }

  .simple-header__back-link-icon {
    background-image: url('/static/icons/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 20px;
    transform: rotate(180deg);
  }

  .simple-header__title-container {
    grid-column: column 2 / span 9;
  }

  .simple-header__title {
    @include typography(heading-1);
  }

  .simple-header__introduction{
    @include typography(paragraph);
  }

  .simple-header__introduction-container {
    grid-column: column 2 / span 9;
  }

  .simple-header__introduction {
    .richtext {
      @include typography(introduction);
    }
  }

  @include landscape {
    .simple-header__wrapper {
      padding-top: 100px;
    }

    .simple-header__back-link {
      grid-column: column 1;
      top: -60px;
    }

    .simple-header__back-link-icon {
      width: 30px;
      height: 20px;
    }

    .simple-header__title-container {
      grid-column: column 1 / span 10;
    }

    .simple-header__introduction-container {
      grid-column: column 1 / span 10;
    }
  }
}

.simple-header--yellow {
    margin: 0;

    &::before {
      background: $color-yellow-warm;
    }
  }


