.sticky-link {
  position: relative;

  &::before {
    content: '';
    background-color: $color-yellow-light;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .sticky-link__wrapper {
    padding-top: 40px;
    padding-bottom: 35px;
    margin: 0 35px;
  }

  .sticky-link__title {
    @include typography(heading-4);
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
  }

  .sticky-link__link {
    position: relative;
    z-index: 2;
  }

  @include landscape {
      position: sticky;
      max-width: 420px;
      left: 100%;
      bottom: 100%;
      height: 0;

    .sticky-link__wrapper {
      margin: 0;
      background-color: $color-yellow-light;
      padding: 40px;
    }
  }
}
