.tag {
  @include typography(thema);
  color: $color-true-black;
  height: 32px;
  display: inline-flex;
  align-items: center;
  border: 1px solid $color-true-black;
  border-radius: 16px;
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 5px;
  text-transform: lowercase;
  vertical-align: middle;

  &:hover {
    background-color: $color-true-black;
    color: $color-white;
  }
}
