{% load static i18n bulma_tags footer_tags menu_tags %}
{% load render_bundle from webpack_loader %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Klimaat Helpdesk{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
    {% render_bundle 'main' 'css' %}
  {% endblock %}

</head>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EZ555D7QSW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EZ555D7QSW');
 </script>

<body class="klimaat_helpdesk" data-controller="navigation">
{% block navbar %}
  {% include 'includes/navbar.html' %}
{% endblock %}

<main class="klimaat_helpdesk-content">

  {% block smokedglass %}
  <div class="sun">
  </div>
  {% endblock %}

  <section class="section">
    {% block content_area %}
      {% block head %}{% endblock head %}
      <div {% block smokedglass-class %}class="smokedglass"{% endblock %}>
        {% block content %}{% endblock content %}
      </div>
    {% endblock content_area %}
  </section>
</main>

{% get_footer %}
{% block footer_js %}
{% endblock %}

{% block overlays %}
  {% include 'includes/menu_overlay.html' %}
{% endblock %}

{% block js %}
  {% render_bundle 'main' 'js' %}
{% endblock %}
</body>
</html>
