{% load static i18n  %}
{% load render_bundle from webpack_loader %}


<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}KlimaatHelpdesk{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
    {% render_bundle 'main' 'css' %}
  {% endblock %}


  {% block extra_head %}
  {% endblock extra_head %}

  {% block schema %}
  {% endblock schema %}
</head>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EZ555D7QSW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EZ555D7QSW', { 'anonymize_ip': true, 'allow_ad_personalization_signals': false  });
 </script>

<body class="klimaat_helpdesk" data-controller="navigation">
{% block navbar %}
  {% include 'includes/navbar.html' %}
{% endblock %}

<main class="klimaat_helpdesk-content">

  {% block smokedglass %}
  <div class="sun">
  </div>
  {% endblock %}

  <section class="section">
    {% block content_area %}
      {% block head %}{% endblock head %}
      <div {% block smokedglass-class %}class="smokedglass"{% endblock %}>
        {% block content %}{% endblock content %}
      </div>
    {% endblock content_area %}
  </section>
</main>

<footer class="footer-bar">
  <div class="footer-bar__wrapper">
    <div class="footer-bar__logo-container">
      <a class="footer-bar__logo-link" href="/">
        {% include 'svg/logo/logo-white.svg' %}
      </a>
    </div>

    <div class="footer-bar__links">
      <span class="footer-bar__title">Een initiatief van
        <a class="footer-bar__title-link" href="https://scientists4future.nl/">Scientists4Future NL</a> &
        <a class="footer-bar__title-link" href="https://www.uu.nl/en/research/utrecht-young-academy">Utrecht Young Academy</a>
      </span>

      <a class="footer-bar__link" href="/about">Over ons</a>
      <a class="footer-bar__link" href="/voorwaarden">Voorwaarden</a>
      <a class="footer-bar__link" href="/contact">Contact</a>
    </div>

  </div>
</footer>
{% block footer_js %}
{% endblock %}

{% block overlays %}
  {% include 'includes/menu_overlay.html' %}
{% endblock %}

{% block js %}
  {% render_bundle 'main' 'js' %}
{% endblock %}
</body>
</html>
