.footer-bar {
  position: relative;
  background-color: $color-true-black;
  padding: 60px 0 10px 0;

  .footer-bar__wrapper {
    @include grid-container;
  }

  .footer-bar__logo-container {
    grid-column: column 2 / span 10;
    margin-bottom: 10px;
  }

  .footer-bar__logo-link {
    width: 110px;
    height: 40px;
    display: inline-block;
  }

  .footer-bar__links {
    grid-column: column 2 / span 10;
    margin: 0 0 8px 0;
  }

  .footer-bar__title {
    color: $color-white;
    @include typography(navigation);
    font-weight: 500;
    margin: 0 30px 45px 0;
    display: inline-block;
  }

  .footer-bar__kvk {
    color: $color-white;
    @include typography(navigation);
    font-weight: 500;
    font-size: small;
    margin: 0 30px 45px 0;
    display: inline-block;
  }

  .footer-bar__link, .footer-bar__title-link {
    color: $color-yellow-warm;
    @include typography(navigation);
    font-weight: 500;
  }

  .footer-bar__link {
    display: block;
    margin: 0 30px 20px  0;
  }

  @include landscape {
    padding: 80px 0 75px 0;

    .footer-bar__logo-container {
      grid-column: column 1 / span 12;
    }

    .footer-bar__links {
      grid-column: column 1 / span 12;
    }

    .footer-bar__title {
      margin: 0 80px 0 0;
    }

    .footer-bar__link {
      display: inline-block;
      margin: 0 25px 0 0;
    }
  }
}
