.menu-bar {
  height: 90px;
  display: flex;

  .menu-bar__logo {
    display: inline-block;
    width: 110px;
    height: 40px;
    margin-left: 30px;
    align-self: center;
  }

  .menu-bar__icon-button {
    margin-left: auto;
    margin-right: 30px;
    width: auto;
    height: auto;
  }

  .menu-bar__icon {
    background-image: url('/static/icons/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    content: '';
    height: 24px;
    vertical-align: middle;
    width: 18px;
  }

  @include landscape {
    .menu-bar__icon {
      width: 34px;
      height: 25px;
    }
  }
}
