.sun {
  &::before {
    content: "";
    display: block;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    background-color: $color-yellow-warm;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
  }
  @include landscape{
    &::before {
      width: 70vh;
      height: 70vh;
    }
  }
}

.smokedglass {
  position: relative;

  &::after {
    content: '';
    background: rgba(#fff, 0.4);
    backdrop-filter: blur(30px);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
  }
}
