.sun {
  &::before {
    content: "";
    display: block;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    background-color: $color-yellow-warm;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
  }

  &::after {
    content: '';
    background: rgba(#fff,0.4);
    backdrop-filter: blur(30px);
    width: 100%;
    position: absolute;
    height: calc(100% - 25vh - 135px);
    top: calc(25vh + 135px);
    z-index: -1;
  }

  @include landscape{
    &::before {
      width: 70vh;
      height: 70vh;
    }
  }
}
