{% load i18n %}
<div class="question-link">
    <h3 class="question-link__title">Hoe reageren de oceanen op klimaatverandering?</h3>
    <p class="question-link__author"> <span class="question-link__by">Door</span> <span class="question-link__author-name">Rolf Schuttenheim</span> </p>
    <span class="tag">water</span>
    <span class="tag">Een blik op de toekomst</span>
</div>


{#<article class="media boxed">#}
{#  <div class="media-content">#}
{#    <div class="content">#}
{#      <p>#}
{#        <strong>{{ answer.title }}</strong>#}
{#        <br>#}
{#        {{ answer.excerpt }}... <a href="{{ answer.url }}">{% trans "read more" %}</a>#}
{#      </p>#}
{#    </div>#}
{#  </div>#}
{#</article>#}
