{% load i18n %}
<div class="question-link">
    <a href="{{ url }}"><h3 class="question-link__title">{{ title }}</h3></a>
    <p class="question-link__author"> <span class="question-link__by">{% trans 'Door' %}</span> <span class="question-link__author-name">{{ author }}</span> </p>
    {% for category in categories %}
       <span class="tag"><a href="{{ category.url }}">{{ category.title }}</a></span>
    {% endfor %}
</div>


{#<article class="media boxed">#}
{#  <div class="media-content">#}
{#    <div class="content">#}
{#      <p>#}
{#        <strong>{{ answer.title }}</strong>#}
{#        <br>#}
{#        {{ answer.excerpt }}... <a href="{{ answer.url }}">{% trans "read more" %}</a>#}
{#      </p>#}
{#    </div>#}
{#  </div>#}
{#</article>#}
