{% load i18n %}
<div class="link-list-link">
    <h3 class="link-list-link__title">Hoe reageren de oceanen op klimaatverandering?</h3>
    <p class="link-list-link__author"> <span class="link-list-link__by">Door</span> <span class="link-list-link__author-name">Rolf Schuttenheim</span> </p>
    <span class="tag">water</span>
    <span class="tag">Een blik op de toekomst</span>

{#    <h3 class="link-list__title">Hoe reageren de oceanen op klimaatverandering?</h3>#}
{#    <p class="link-list__author"> <span class="link-list__by">Door</span> <span class="link-list__auhtor-name">Rolf Schuttenheim</span> </p>#}
{#    <span class="tag">water</span>#}
{#    <span class="tag">Een blik op de toekomst</span>#}
{##}
{#    <h3 class="link-list__title">Hoe reageren de oceanen op klimaatverandering?</h3>#}
{#    <p class="link-list__author"> <span class="link-list__by">Door</span> <span class="link-list__auhtor-name">Rolf Schuttenheim</span> </p>#}
{#    <span class="tag">water</span>#}
{#    <span class="tag">Een blik op de toekomst</span>#}

</div>


{#<article class="media boxed">#}
{#  <div class="media-content">#}
{#    <div class="content">#}
{#      <p>#}
{#        <strong>{{ answer.title }}</strong>#}
{#        <br>#}
{#        {{ answer.excerpt }}... <a href="{{ answer.url }}">{% trans "read more" %}</a>#}
{#      </p>#}
{#    </div>#}
{#  </div>#}
{#</article>#}
