<div class="highlighted-link">
  <div class="highlighted-link__wrapper">
      <p class="highlighted-link__author"> <span class="highlighted-link__by">Column van</span> <span class="highlighted-link__author-name">{{ author }}</span> </p>
      <a class="highlighted-link__link" href="{{ url }}"><h3 class="highlighted-link__title">{{ title }}</h3></a>
      {% for category in categories %}
        <a href="{{ category.url }}"><span class="tag">{{ category.title }}</span></a>
      {% endfor %}
  </div>
</div>
