{% load wagtailcore_tags %}
<footer class="footer-bar">
  <div class="footer-bar__wrapper">
    <div class="footer-bar__logo-container">
      <a class="footer-bar__logo-link" href="/">
        {% include 'svg/logo/logo-white.svg' %}
      </a>
    </div>

    <div class="footer-bar__links">
      <span class="footer-bar__title">Een initiatief van
        <a class="footer-bar__title-link" href="https://scientistsforfuture.org/">scientists for future</a> &
        <a class="footer-bar__title-link" href="https://www.uu.nl/en/research/utrecht-young-academy">Utrecht Young Academy</a>
      </span>

      <a class="footer-bar__link" href="/about">Over ons</a>
      <a class="footer-bar__link" href="/contact">Contact</a>
    </div>

  </div>
</footer>
