
:root {
  --attribution-font-size: 18px;
  --attribution-font-style: normal;
  --attribution-font-variant: normal;
  --attribution-font-weight: #{get-geomanist-weight(regular)};
  --attribution-letter-spacing: 0;
  --attribution-line-height: 32px;
  --attribution-margin-bottom: .5em;
  --attribution-margin-top: 1em;
}
