
:root {
  --caption-font-size: 18px;
  --captionfont-style: normal;
  --caption-font-variant: normal;
  --caption-font-weight: #{get-geomanist-weight(regular)};
  --caption-letter-spacing: 0;
  --caption-line-height: 20px;
  --caption-margin-bottom: 0;
  --caption-margin-top: 0;
}
