
:root {
  --heading-1-font-size: 36px;
  --heading-1-font-style: normal;
  --heading-1-font-variant: normal;
  --heading-1-font-weight: #{get-geomanist-weight(book)};
  --heading-1-letter-spacing: 0;
  --heading-1-line-height: 40px;
  --heading-1-margin-bottom: .5em;
  --heading-1-margin-top: 1em;
  --heading-1-word-spacing: normal;

  @include landscape {
    --heading-1-font-size: 55px;
    --heading-1-line-height: 66px;
  }
}
