:root {
  --heading-6-font-size: 16px;
  --heading-6-font-style: normal;
  --heading-6-font-variant: normal;
  --heading-6-font-weight: #{get-geomanist-weight(medium)};
  --heading-6-letter-spacing: 0;
  --heading-6-line-height: 18px;
  --heading-6-margin-bottom: .5em;
  --heading-6-margin-top: 1em;
  --heading-6-word-spacing: normal;
}
