:root {
  --heading-5-font-size: 18px;
  --heading-5-font-style: normal;
  --heading-5-font-variant: normal;
  --heading-5-font-weight: #{get-geomanist-weight(medium)};
  --heading-5-letter-spacing: 0;
  --heading-5-line-height: 20px;
  --heading-5-margin-bottom: .5em;
  --heading-5-margin-top: 1em;
  --heading-5-word-spacing: normal;
}
