:root {
  --introduction-font-size: 20px;
  --introduction-font-style: normal;
  --introduction-font-variant: normal;
  --introduction-font-weight: #{get-geomanist-weight(regular)};
  --introduction-letter-spacing: 0;
  --introduction-line-height: 28px;
  --introduction-margin-bottom: .5em;
  --introduction-margin-top: 1em;

  @include landscape {
    --introduction-font-size: 25px;
    --introduction-line-height: 35px;
  }
}
