
:root {
  --navigation-font-size: 23px;
  --navigation-font-style: normal;
  --navigation-font-variant: normal;
  --navigation-font-weight: #{get-geomanist-weight(regular)};
  --navigation-letter-spacing: 0;
  --navigation-line-height: 28px;
}
