
:root {
  --menu-bar-font-size: 23px;
  --menu-bar-font-style: normal;
  --menu-bar-font-variant: normal;
  --menu-bar-font-weight: #{get-geomanist-weight(regular)};
  --menu-bar-letter-spacing: 0;
  --menu-bar-line-height: 28px;
}
