
:root {
  --paragraph-font-size: 16px;
  --paragraph-font-style: normal;
  --paragraph-font-variant: normal;
  --paragraph-font-weight: #{get-geomanist-weight(regular)};
  --paragraph-letter-spacing: 0;
  --paragraph-line-height: 21px;
  --paragraph-margin-bottom: 30px;
  --paragraph-margin-top: 30px;

  @include landscape {
    --paragraph-font-size: 20px;
    --paragraph-line-height: 27px;
  }
}
