
:root {
  --quote-font-size: 22px;
  --quote-font-style: normal;
  --quote-font-variant: normal;
  --quote-font-weight: #{get-geomanist-weight(bold)};
  --quote-letter-spacing: 0;
  --quote-line-height: 29px;
  --quote-margin-bottom: .5em;
  --quote-margin-top: 1em;

  @include landscape {
    --quote-font-size: 40px;
    --quote-line-height: 46px;
  }
}
