
:root {
  --thema-font-size: 16px;
  --thema-font-style: normal;
  --thema-font-variant: normal;
  --thema-font-weight: #{get-geomanist-weight(book)};
  --thema-letter-spacing: 0;
  --thema-line-height: 19px;
  --thema-margin-bottom: 0;
  --thema-margin-top: 0;
}
