.answer-detail {

  .answer-detail__content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: calc(100% + 180px);
      top: -100px;
      background-color: $color-yellow-background;
    }
  }
}
