<script>

  console.log('inline js woohooo');
  window.onload = function() {
    initializeButtons();
    initializeCheckboxes();
  };

  var selectedCategories = [];


  function initializeButtons() {
    var continueButton = document.getElementById('form-step__continue');
    var backButton = document.getElementById('form-step__back');

    if(!continueButton || !backButton){
      return;
    }

    continueButton.addEventListener("click", activateStepTwo);
    backButton.addEventListener("click", activateStepOne);
  }

  function initializeCheckboxes() {
    var categoriesField = document.querySelector('.form-field__categories');
    var checkboxes = categoriesField.querySelectorAll('input');
      checkboxes.forEach(function(e) {
        e.addEventListener('change', function() {
          if(this.checked) {
            console.log('checked' + this.value);
            selectedCategories.push(this.value);
            showSuggestionCategory(this.value);
          }
          else {
            selectedCategories.pop(this.value);
            console.log('unchecked' + this.value);
            hideSuggestionCategory(this.value);
          }
        });
      });
  }

  function showSuggestionCategory(category) {
    var suggestionDiv = document.querySelector('#suggestion-answers__' + category.replace(' ', '_'));
    if (!suggestionDiv) {
      return;
    }

    suggestionDiv.classList.remove('is-hidden');
    suggestionDiv.classList.add('is-visible');
  }

    function hideSuggestionCategory(category) {
    var suggestionDiv = document.querySelector('#suggestion-answers__' + category.replace(' ', '_'));
    if (!suggestionDiv) {
      return;
    }

    suggestionDiv.classList.remove('is-visible');
    suggestionDiv.classList.add('is-hidden');
  }

  function activateStepTwo() {
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-visible'));

    var categoriesSpan = document.getElementById("form-step__selected-categories");
    categoriesSpan.innerHTML = getSelectedCategoriesHTML();
  }

  function activateStepOne() {
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-visible'));
  }

  function getSelectedCategoriesHTML() {
    var htmlString = '';
    // Im not sure this is best practice :D
    selectedCategories.forEach(e => (htmlString += `<span class="tag">${e}</span>`));
    return htmlString;
  }
</script>


{% extends 'base.html' %}
{% load static i18n %}

{% block smokedglass %}
{% endblock %}

{% block head %}

    <div class="simple-header simple-header--yellow form-step__one">
    <div class="simple-header__wrapper">
      <a class="simple-header__back-link" href="/">
        <span class="simple-header__back-link-icon"></span>
      </a>

      <div class="simple-header__title-container">
        <h1 class="simple-header__title">{% trans 'Stel een vraag' %}</h1>
      </div>

      <div class="simple-header__introduction-container">
        <p class="simple-header__introduction">
          {% blocktrans %}Wij willen je vraag graag zo compleet en correct mogelijk beantwoorden en verifiëren. Daar hebben wij ongeveer 4 weken voor nodig en binnen deze tijd gaan twee van onze experts voor jou aan de slag. De een doorzoekt bronnen, verifiëert, en discussiëert, de ander gaat alles nog eens grondig controleren. Zo behalen we de wetenschappelijke standaard die nodig is voor een betrouwbaar antwoord.{% endblocktrans %}
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="form">

    <div class="form__wrapper">

      <div id="form-step__back" class="form-step__two is-hidden">
          <span class="form__back-link-icon"></span>
      </div>

      <div class="form__header__container">
          <h1 class="form__header form-step__one">1. {% trans 'Waar gaat je vraag over?' %}</h1>
          <h1 class="form__header form-step__two is-hidden">2. {% trans 'Formuleer je vraag' %}</h1>
      </div>

      <form class="form__form" method="post" novalidate>
      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.source.errors }}
      {{ form.source }}

    <div class="form-step__one">

      {% if form.errors %}
        <div>
          {% trans 'Het formulier kon niet worden verzonden, controleer de gegevens.' %}
        </div>
      {% endif %}

      <div class="form-field form-field__categories">
        <h2 class="form__form-subtitle">Kies één of meerdere categorieën waar je vraag aan relateert</h2>
        {{ form.categories.errors }}
        <div class="form__tag-container">
          {% for category in form.categories %}
          <span class="form__tag">{{ category }}</span>
          {% endfor %}
        </div>

        <div class="form__button">
          <button type="button" id="form-step__continue" class="button">
            <span class="button__text">{% trans 'Continue' %}</span>
            <span class="button__icon"></span>
          </button>
        </div>
      </div>

      <div class="form__tip">
        <span class="form__tip-text">
          <strong>{% trans 'Tip:' %}</strong>
          {% trans 'Check voordat je een vraag stelt over ' %}
          <span id="suggestion-selected" class="form__tip-text"></span>
          {% trans 'of iemand anders je niet voor was' %}
        </span>

        {% for category, answers in suggestion_categories.items %}
          <div id="suggestion-answers__{{ category }}" class="is-hidden">
            <p>Beantwoorde vragen over #{{ category }}</p>
            {% for answer in answers %}
              <a class="form__link" href="{{ answer.url }}"><span class="form__link-text">{{ answer.title }}</span><span class="form__link-icon"></span></a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="form-step__two is-hidden">

      <div class="form__form-subtitle">
        <span>{% trans 'Ik heb een vraag over ' %}</span><span id="form-step__selected-categories"></span>
      </div>

      <div class="form__form-fields">
        <div class="form-field">
          {{ form.main_question.label_tag }}
          {{ form.main_question.errors }}
          {{ form.main_question }}
        </div>

        <div class="form-field">
          {{ form.relevant_location.label_tag }}
          {{ form.relevant_location.errors }}
          {{ form.relevant_location }}
        </div>

        <div class="form-field">
          {{ form.relevant_timespan.label_tag }}
          {{ form.relevant_timespan.errors }}
          {{ form.relevant_timespan }}
        </div>

        <div class="form-field">
          {{ form.extra_info.label_tag }}
          {{ form.extra_info.errors }}
          {{ form.extra_info }}
        </div>

        <div class="form-field">
          {{ form.accept_terms.label_tag }}
          <p>
            <a href="/terms">{% trans "Lees hier onze voorwaarden." %}</a>
          </p>
          {{ form.accept_terms }}
          {{ form.accept_terms.errors }}
        </div>
      </div>

      <div class="form__button">
        <button id="form-step__continue" class="button">
          <span class="button__text">{% trans 'Submit' %}</span>
          <span class="button__icon"></span>
        </button>
      </div>
    </div>
  </form>

    </div>
  </div>


{% endblock %}

