<script>

  console.log('inline js woohooo');
  window.onload = initializeButtons;

  function initializeButtons() {
    var continueButton = document.getElementById('form-step__continue');
    var backButton = document.getElementById('form-step__back');

    if(!continueButton || !backButton){
      return;
    }

    continueButton.addEventListener("click", activateStepTwo);
    backButton.addEventListener("click", activateStepOne);
  }

  function activateStepTwo() {
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-visible'));

    var categoriesSpan = document.getElementById("form-step__selected-categories");
    console.log(categoriesSpan);
    categoriesSpan.innerHTML = getSelectedCategories();
  }

  function activateStepOne() {
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-visible'));
  }

  function getSelectedCategories() {
    var selectedCategories = [];
    var categoriesField = document.querySelector('.form-field__categories');
    // Extract selected checkboxes
    if(!categoriesField) {
      return;
    }
    else {
      var checkboxes = categoriesField.querySelectorAll('input');
      checkboxes.forEach(function(e){
        if(e.checked) {
          selectedCategories.push(e.value);
        }
      })
    }

    var htmlString = '';
    // Im not sure this is best practice :D
    selectedCategories.forEach(e => (htmlString += `<span class="button">${e}</span>`));
    return htmlString;
  }
</script>


{% extends 'base.html' %}
{% load static i18n %}

{% block smokedglass %}
{% endblock %}

{% block head %}

    <div class="simple-header simple-header--yellow">
    <div class="simple-header__wrapper">
      <a class="simple-header__back-link" href="/">
        <span class="simple-header__back-link-icon"></span>
      </a>

      <div class="simple-header__title-container">
        <h1 class="simple-header__title">{% trans 'Ask a question' %}</h1>
      </div>

      <div class="simple-header__introduction-container">
        <p class="simple-header__introduction">
          {% blocktrans %}After you ask your question, we will review it and assign it to an expert to answer it.
            The entire process may take up to a couple of weeks. If you would like to be informed about the progress, you
            can leave us your e-mail.{% endblocktrans %}
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="form">
    <div id="form-step__back" class="form-step__two is-hidden">
    <-
    </div>

    <div class="form__wrapper">
      <div class="form__header__container">
          <h1 class="form__header form-step__one">{% trans 'Waar gaat je vraag over?' %}</h1>
          <h1 class="form__header form-step__two is-hidden">{% trans 'Formuleer je vraag' %}</h1>
      </div>

      <form class="form__form" method="post" novalidate>
      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.source.errors }}
      {{ form.source }}

    <div class="form-step__one">
      <div class="form-field form-field__categories">
        <h2 class="form__form-subtitle">Kies een of meerdere categorieën waar je vraag aan relateert</h2>
        {{ form.categories.errors }}
        <div class="form__tag-container">
          {% for category in form.categories %}
          <span class="form__tag">{{ category }}</span>
          {% endfor %}
        </div>

        <div class="form__button">
          <button type="button" id="form-step__continue" class="button">
            <span class="button__text">{% trans 'Continue' %}</span>
            <span class="button__icon"></span>
          </button>
        </div>
      </div>

      <div class="form__tip">
        <span class="form__tip-text">{% trans 'Voordat je een vraag stelt over ' %}</span><span class="form__tip-text">{{ suggestion.category }}</span>
        {% for answer in suggestion.answers %}
          <a class="form__link" href="{{ answer.url }}"><span class="form__link-text">{{ answer.title }}</span><span class="form__link-icon"></span></a>
        {% endfor %}
      </div>

    </div>

    <div class="form-step__two is-hidden">

      <div>
        <span>{% trans 'Ik heb een vraag over ' %}</span><span id="form-step__selected-categories"></span>
      </div>

      <div class="form-field">
        {{ form.main_question.label_tag }}
        {{ form.main_question.errors }}
        {{ form.main_question }}
      </div>

      <div class="form-field">
        {{ form.relevant_location.label_tag }}
        {{ form.relevant_location.errors }}
        {{ form.relevant_location }}
      </div>

      <div class="form-field">
        {{ form.relevant_timespan.label_tag }}
        {{ form.relevant_timespan.errors }}
        {{ form.relevant_timespan }}
      </div>

      <div class="form-field">
        {{ form.extra_info.label_tag }}
        {{ form.extra_info.errors }}
        {{ form.extra_info }}
      </div>

      <div class="form-field">
        {{ form.user_email.label_tag }}
        {{ form.user_email.errors }}
        {{ form.user_email }}
      </div>

      <div class="form-field">
        {{ form.accept_terms.label_tag }}
        {{ form.accept_terms }}
        <p>
          <a href="/terms">{% trans "Our terms and conditions" %}</a>
        </p>
        {{ form.accept_terms.errors }}

      </div>

      <button class="button is-primary">{% trans "Submit" %}</button>
    </div>
  </form>

    </div>
  </div>


{% endblock %}

