{% extends 'base.html' %}
{% load static i18n %}

{% block smokedglass %}
{% endblock %}

{% block content_area %}
  <div {% block smokedglass-class %}{% endblock %}>

  {% block head %}
  {% endblock %}

  {% block content %}
    <div class="form">
      <div class="form__wrapper">
        <div class="form__header__container">
          <h1 class="form__header">{% trans 'Bedankt voor het stellen van je vraag. We nemen je vraag in behandeling en proberen zo snel mogelijk een expert te vinden die je vraag kan beantwoorden.' %}</h1>
        </div>
    </div>
  </div>
  {% endblock %}

  </div>
{% endblock content_area %}
