{% extends 'base.html' %}
{% load i18n static bulma_tags %}
{% block head %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title is-size-2-desktop is-size-3-touch">Helpdesk Klimaat</h2>
        <h3 class="subtitle is-size-4-desktop is-size-5-touch">{% blocktrans %}All the questions you may have
          regarding climate breakdown, global warming, answered by experts.{% endblocktrans %}</h3>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
      <section class="section question-intro">
        <div class="title">{% trans "Ask your question" %}</div>
        <div><p>{% blocktrans %}After you ask your question, we will review it and assign it to an expert to answer it.
          The entire process may take up to a couple of weeks. If you would like to be informed about the progress, you
          can leave us your e-mail.{% endblocktrans %}</p>
        </div>
      </section>
      <section class="section question-form">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <form class="form boxed" method="post">
              {% csrf_token %}
              {{ form|bulma }}
              <button class="button is-primary">{% trans "Submit" %}</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}
