<script>

  console.log('inline js woohooo');
  window.onload = initializeButtons;

  function initializeButtons() {
    var continueButton = document.getElementById('form-step__continue');
    var backButton = document.getElementById('form-step__back');

    if(!continueButton || !backButton){
      return;
    }

    continueButton.addEventListener("click", activateStepTwo);
    backButton.addEventListener("click", activateStepOne);
  }

  function activateStepTwo() {
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-visible'));

    var categoriesSpan = document.getElementById("form-step__selected-categories");
    categoriesSpan.innerHTML = getSelectedCategories();
  }

  function activateStepOne() {
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.add('is-hidden'));
    document.querySelectorAll(".form-step__two").forEach(e => e.classList.remove('is-visible'));

    document.querySelectorAll(".form-step__one").forEach(e => e.classList.remove('is-hidden'));
    document.querySelectorAll(".form-step__one").forEach(e => e.classList.add('is-visible'));
  }

  function getSelectedCategories() {
    var selectedCategories = [];
    var categoriesField = document.querySelector('.form-field__categories');
    // Extract selected checkboxes
    if(!categoriesField) {
      return;
    }
    else {
      var checkboxes = categoriesField.querySelectorAll('input');
      checkboxes.forEach(function(e){
        if(e.checked) {
          selectedCategories.push(e.value);
        }
      })
    }

    var htmlString = '';
    // Im not sure this is best practice :D
    selectedCategories.forEach(e => (htmlString += `<span class="tag">${e}</span>`));
    return htmlString;
  }
</script>


{% extends 'base.html' %}
{% load static i18n %}

{% block smokedglass %}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

  <div class="form">

    <div class="form__wrapper">

      <div class="form__header__container">
          <h1 class="form__header">{% trans 'Bedankt voor je vraag!' %}</h1>
      </div>

{#      hier de tweede form met email#}
      <form class="form__form" method="post" novalidate>
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}

        <div class="form__form-fields">
          <div class="form-field">
            {{ form.user_email.label_tag }}
            {{ form.user_email.errors }}
            {{ form.user_email }}
          </div>

          <div class="form-field">
            {{ form.accept_terms.label_tag }}
            {{ form.accept_terms }}
            <p>
              <a href="/terms">{% trans "Our terms and conditions" %}</a>
            </p>
            {{ form.accept_terms.errors }}
          </div>
        </div>

        <div class="form__button">
          <button id="form-step__continue" class="button">
            <span class="button__text">{% trans 'Submit' %}</span>
            <span class="button__icon"></span>
          </button>
        </div>

        <div class="form__button">
          <a href="/">
           <button type="button" class="button button--secondary">
              <span class="button__text">{% trans 'Terug naar de homepage' %}</span>
              <span class="button__icon"></span>
            </button>
         </a>
        </div>

      </form>

    </div>
  </div>


{% endblock %}

