// Grid breakpoints

// Constraints
$website-min-width: 320px;
$website-max-width: 2560px;

// Only 1 breakpoint
$breakpoint-mobile: 320px;
$breakpoint-landscape: 800px;

// Pre-assigned variables - for convenience reasons
$almost-mobile: $breakpoint-mobile - 1;
$almost-landscape: $breakpoint-landscape - 1;

