
// Grid variables
//
// You can add or remove breakpoints at will,
// but be sure to add/remove/modify the relevant mixins as well!

:root {
  // Breakpoints
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-landscape: #{$breakpoint-landscape};

  // Breakpoint reference (for javascript)
  --breakpoint: var(--breakpoint-mobile);

  @include landscape {
    --breakpoint: var(--breakpoint-landcape);
  }

  // Document constraints
  --document-min-width: #{$website-min-width};
  --document-max-width: #{$website-max-width};

  // Grid settings
  --grid-columns: 12;
  --grid-gutter: 5px;
  --grid-spacing: 20px;
  --grid-margin: 0;
  --grid-max-width: 100%;

  @include landscape {
    --grid-gutter: 20px;
    --grid-spacing: 30px;
    --grid-margin: 180px;
    --grid-max-width: 1360px;
  }

  // Component settings
  --margin: 20px;
  --beat: 10px;

  @include landscape {
    --margin: 80px;
  }
}

@mixin grid-container($columns: 'repeat(var(--grid-columns), [column] minmax(0, 1fr))') {
  display: grid;
  grid-gap: var(--grid-spacing) var(--grid-gutter);
  grid-template-columns: unquote($columns);
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--grid-max-width) + (var(--grid-gutter) * 2) + (var(--grid-margin) * 2));
  padding-left: var(--grid-margin);
  padding-right:  var(--grid-margin);
}

@mixin subgrid-container($columns: auto) {
  display: grid;
  grid-gap: var(--grid-spacing) var(--grid-gutter);
  grid-template-columns: $columns;
}
