{% extends "base.html" %}
{% load i18n static %}
{% block head %}
    <div class="expert-header">
    <div class="expert-header__wrapper">
      <a class="expert-header__back-link" href="/">
        <span class="expert-header__back-link-icon"></span>
      </a>

      <div class="expert-header__title-container">
        <h1 class="expert-header__title">{{ page.title }}</h1>
      </div>

      <div class="expert-header__introduction-container">
        <p class="expert-header__introduction">
          Het climaat-helpdesk bestaat uit wetenschappelijke klimaatexperts uit 10 van de 14 nederlandse universiteiten. Wij zijn een onafhankelijke stichting….
        </p>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="expert-list">
    <div class="expert-list__wrapper">
      <div class="expert-list__experts">
        {% for expert in experts %}
          {% include 'experts/includes/expert_block.html' with expert=expert %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="link-block">
   <div class="link-block__wrapper">
     <div class="link-block__title-container">
      <h2 class="link-block__title">
        Wie is klimaat helpdesk?
      </h2>
     </div>

     <div class="link-block__text-container">
       <div class="link-block__text richtext">
         <p>
           Dit is dezelfde blok als - hoe weten we dit - hier kan een deel van de content vanuit de Wie zijn wij pagina herhaalt worden met een button die ernaar toe leid.
         </p>
         <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
         <p>
          Ben je geinteresseerd in ons project of heb je de kennis om mee te doen als expert? Neem contact op met ….
          </p>
       </div>
        <button class="button">
          <span class="button__text">Meer lezen over ons</span>
          <span class="button__icon"></span>
        </button>
      </div>
    </div>
  </div>

{% endblock %}
