{% extends "base.html" %}
{% load i18n static %}
{% block head %}
    <div class="expert-header">
    <div class="expert-header__wrapper">
      <a class="expert-header__back-link" href="/">
        <span class="expert-header__back-link-icon"></span>
      </a>

      <div class="expert-header__title-container">
        <h1 class="expert-header__title">{{ page.title }}</h1>
      </div>

      <div class="expert-header__introduction-container">
        <p class="expert-header__introduction">
          Het climaat-helpdesk bestaat uit wetenschappelijke klimaatexperts uit 10 van de 14 nederlandse universiteiten. Wij zijn een onafhankelijke stichting….
        </p>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="expert-list">
    {% for expert in experts %}
      {% include 'experts/includes/expert_block.html' with expert=expert %}
    {% endfor %}
  </div>

{#  <main class="section">#}
{#    <div class="container">#}
{#      <div class="columns">#}
{#        <main class="column">#}
{#          {% for expert in experts %}#}
{#            {% include 'experts/includes/expert_block.html' with expert=expert %}#}
{#          {% endfor %}#}
{#        </main>#}
{#      </div>#}
{#    </div>#}
{#  </main>#}
{% endblock %}
