body {
  background-color: #f6f9fc;
  /*margin-bottom: 50px;*/
}

.klimaat_helpdesk {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.klimaat_helpdesk-content {
  flex: 1;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.boxed {
  padding: 1rem;
  background: white;
}

.sidebar-box {
  margin-bottom: 1rem;
}

.sidebar-categories li {
  padding: .3rem;
  font-size: 18px;
}

.sidebar-categories a {
  color: rgb(37, 56, 88);
}

.sidebar-categories a:hover {
  background-color: #f6f9fc;
  color: #3c638c;
  border-radius: 3px;
}

.answer p {
  margin-bottom: 12px;
}

.tags i {
  margin-left: 10px;
  padding: 10px;
}

.tag svg{
  margin-right: 5px;
}

.question-breadcrumb {
  margin: 20px;
}

.help {
  display: block;
  font-size: .75rem;
  margin-top: .25rem;
}

.help .is-danger {
  color: #f14668;
}

.footer{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}


.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
