<div class="menu-overlay">
  <div class="menu-overlay__wrapper">
    <div class="menu-overlay__button-container">
      <button class="menu-overlay__close-button">
        <span class="menu-overlay__close-icon"></span>
      </button>
    </div>

    <div class="menu-overlay__links">
      <a class="menu-overlay__link" href="/answers">Jullie vragen</a>
      <a class="menu-overlay__link" href="/experts">Onze experts</a>
      <a class="menu-overlay__link" href="/about">Wie zijn wij?</a>
      <a class="menu-overlay__link" href="/contact">Contact</a>
    </div>

    <div class="menu-overlay__footer-items">
      <span class="menu-overlay__footer-text">Heb je het antwoord dat je zocht niet gevonden?</span>
      <a href="/ask">
        <button class="menu-overlay__i button">
          <span class="button__text">Stel je vraag</span>
          <span class="button__icon"></span>
        </button>
      </a>
    </div>
  </div>
</div>
