{% load i18n menu_tags %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h3>{% trans "Klimaat Helpdesk" %}</h3>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
       data-target="top-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="top-navbar" class="navbar-menu">
    {% main_menu %}

    <div class="navbar-end">
      <div class="navbar-item">
{#        <div class="buttons">#}
{#          <a class="button is-primary" href="{% url 'core:ask' %}">#}
{#            {% trans "Ask a Question" %}#}
{#          </a>#}
{##}
{#          <form action="/search" method="get"><input class="input" type="text" name="query"#}
{#                                                     placeholder="{% trans 'Search' %}"></form>#}
{#        </div>#}
      </div>
    </div>
  </div>
</nav>
