{% extends "base.html" %}
{% load i18n static %}
{% block head %}
  <div class="header">
    <div class="header__wrapper">
      <h1 class="header__title">{{ page.title }}</h1>

      <form class="header__form" name="filter" method="get">
        <div class="header__buttons">
          <div class="header__search-themes">
            {% for item in categories %}
              <span>
                <input type="checkbox" id="{{ item.category }}" value="" name="{{ item.category }}" {% if item.selected %}checked{% endif %}>
                <label for="{{ item.category }}" class="tag">{{ item.category }}</label>
              </span>
            {% endfor %}
          </div>
          <div class="header__button">
            <button class="button">
              <span class="button__text">Filter</span>
              <span class="button__icon"></span>
            </button>

            <a class="header__reset-button" href="/answers"><span>Filters verwijderen</span></a>
          </div>

        </div>
      </form>
    </div>
  </div>
{% endblock %}

{#{% block container-class %} smokedglass{% endblock %}#}
{% block content %}
    <div class="question-link-list">
      <div class="question-link-list__links">
        {% for answer in answers_and_columns %}
          {{ answer.get_as_overview_row_card }}
        {% endfor %}
      </div>
    </div>

    <div class="sticky-link">
      <div class="sticky-link__wrapper">
          <h5 class="sticky-link__title">{% trans 'Heb je het antwoord dat je zocht niet gevonden? Stel je eigen vraag!' %}</h5>
          <a href="/ask">
            <button class="button">
              <span class="button__text">{% trans 'Stel je vraag' %}</span>
              <span class="button__icon"></span>
            </button>
          </a>
      </div>
    </div>

{% endblock %}
