{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block title %}
  {{ self.title }} | KlimaatHelpdesk
{% endblock title %}

{% block extra_head %}
  <link rel="canonical" href="{{ self.full_url }}">
  <meta property="og:title" content="{{ self.title }}">
  <meta property="twitter:title" content="{{ self.title }}">
  <meta property="og:type" content="article">
  {% if self.social_image %}
    {% image self.social_image width-400 as tmp_photo %}
    <meta property="og:image" content="{{ tmp_photo.url }}">
    <meta property="twitter:image" content="{{ tmp_photo.url }}">
  {% endif %}
  {% if self.excerpt %}
    <meta name="description" content="{{ self.excerpt }}">
    <meta name="og:description" content="{{ self.excerpt }}">
    <meta name="twitter:description" content="{{ self.excerpt }}">
  {% endif %}
  <meta property="twitter:site" content="@KlimaatHelpdesk">
  <meta property="twitter:card" content="summary">
  {% with self.get_primary_expert as expert %}
    <meta name="author" content="{{ expert.name }}">
    <meta property="og:article:author" content="{{ expert.name }}">
    {% if expert.twitter_profile %}
      <meta property="twitter:creator" content="@{{ expert.twitter_username }}">
    {% endif %}
  {% endwith %}
  <meta name="keywords" content="{% for tag in self.tags.all %}{{ tag }}, {% endfor %}">

  <meta property="og:locale" content="nl_NL">
  <meta property="og:site_name" content="KlimaatHelpdesk">
{% endblock extra_head %}
{% block schema %}
  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Article",
  "headline": "{{ self.title }}",
  "datePublished": "{{ self.first_published_at|date:"c" }}",
  "dateModified": "{{ self.last_published_at|date:"c" }}",
  "abstract": "{% if self.excerpt %}
    {{ self.excerpt }}
  {% elif self.introduction %}
    {{ self.introduction }}
  {% endif %}",
  "author": { {% with self.get_primary_expert as expert %}
    "@type": "Person",
    "name": "{{ expert.name }}",
    "affiliation": "{{ expert.affiliation }}",
    "description": "{{ expert.bio }}",
    "url": "{{ expert.url }}"
  {% endwith %}},
  "url": "{{ self.full_url }}"
}
</script>
{% endblock schema %}
{% block description %}
  {% if self.excerpt %}
    {{ self.excerpt }}
  {% elif self.introduction %}
    {{ self.introduction }}
  {% endif %}
{% endblock %}
{% block navbar %}
  <div class="menu-bar menu-bar--inverted">
    <div class="menu-bar__bar">
      <div class="menu-bar__logo-container">
        <a class="menu-bar__logo" href="/">
          {% include 'svg/logo/logo-white.svg' %}
        </a>
      </div>

      <div class="menu-bar__expert-container">
        {% with self.get_primary_expert as expert %}
          <a class="menu-bar__expert-link" href="/experts#{{ expert.pk }}">
            {% image expert.picture fill-200x200 as image %}
            <img class="menu-bar__image" src="{{ image.url }}" alt="{{ image.alt }}">
            <span class="menu-bar__expert-name">{{ expert.name }}</span>
            <span class="menu-bar__expert-title">{{ expert.affiliation }}</span>
          </a>
        {% endwith %}
      </div>

      <div class="menu-bar__icon-container">
        <button class="menu-bar__icon-button">
          <span class="menu-bar__icon"></span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
{##}
{#{% block smokedglass %}#}
{#{% endblock %}#}

{% block head %}
  <div class="content-header">
    <div class="content-header__wrapper">
      <a class="content-header__back-link" href="/answers">
        <span class="content-header__back-link-icon"></span>
      </a>
      <div class="content-header__title-container">
        <h1 class="content-header__title">
          {{ self.title }}
        </h1>
      </div>
      <div class="content-header__theme">
        {% for category in self.get_all_categories %}
          <a href="/answers/{{ category.url }}"><span
                  class="content-header__subject-tag tag">{{ category.title }}</span></a>
        {% endfor %}
      </div>
      <div class="content-header__introduction">
        <p class="content-header__introduction-text">{{ self.introduction }}</p>
      </div>
      <div class="content-header__tags">
        {% for tag in self.tags.all %}
          <span class="content-header__tag">#{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for block in self.page_content %}
    {% include_block block %}
  {% endfor %}

  {% for block in self.answer_origin %}
    {% include_block block %}
  {% endfor %}

  {% for block in self.related_items %}
    {% include_block block %}
  {% endfor %}

{% endblock %}



