{% extends "base.html" %}
{% load i18n static %}
{% block head %}
  <div class="header">
    <div class="header__wrapper">
      <h1 class="header__title">{{ page.title }}</h1>
      <div class="header__search">
        <div class="header__search-themes">
          <span class="tag">Maatschappij</span>
          <span class="tag">Blik op de toekomst</span>
          <span class="tag">Warmer klimaat</span>
          <span class="tag">Energie</span>
          <span class="tag">Internationaal</span>
          <span class="tag">Natuur</span>
          <span class="tag">Water</span>
          <span class="tag">Economie</span>
        </div>
        <div class="header__search-button">
          <button class="button">
            <span class="button__text">Filter</span>
            <span class="button__icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block container-class %} smokedglass{% endblock %}
{% block content %}
  <main class="section">
    <div class="container">
      <div class="columns">
        <main class="column">
          {% for answer in answers %}
            {% include 'core/includes/answer_block.html' with answer=answer %}
          {% endfor %}
          {% if answers.paginator.num_pages > 1 %}
            <nav class="pagination" role="navigation" aria-label="pagination">
              {% if answers.has_previous %}
                <a class="pagination-previous"
                   href="?page={{ answers.previous_page_number }}">{% trans "Previous Page" %}</a>
              {% endif %}
              {% if answers.has_next %}
                <a href="?page={{ answers.next_page_number }}" class="pagination-next">{% trans "Next page" %}</a>
              {% endif %}
              {% for page_num in answers.paginator.page_range %}
                <li>
                  <a href="?page={{ page_num }}" class="pagination-link">{{ page_num }}</a>
                </li>
              {% endfor %}
            </nav>
          {% endif %}
        </main>
        {% include 'core/includes/aside.html' %}
      </div>
    </div>
  </main>
  <div class="section">
    <div class="container">
      <header class="header">
        <div class="header-title"><h1 class="title">{% trans "Meet an expert" %}</h1></div>
        <p class="subtitle is-4">Get to know one of the many experts answering questions</p>
      </header>
      <div class="boxed media">
        <div class="media-left">
          <figure class="image is-48x48"><img src="{% static 'images/portrait_placeholder.png' %}"
                                              alt="Profile Picture"/></figure>
        </div>
        {% include 'experts/includes/expert_block.html' with expert=expert %}
      </div>
    </div>
    <div class="container">
      <a class="button is-active is-primary" href="{{ experts_page.url }}">{% trans "See all our experts" %}</a>
    </div>
  </div>
{% endblock %}
