{% extends "base.html" %}
{% load i18n static wagtailcore_tags %}

{% block smokedglass %}
{% endblock %}

{% block content_area %}
  <div {% block smokedglass-class %}{% endblock %}>

  {% block head %}
    <div class="content-header">
      <div class="content-header__wrapper">
        <div class="content-header__title-container">
          <h1 class="content-header__title">
            {{ self.title }}
          </h1>
        </div>

        <div class="content-header__introduction">
          <p class="content-header__introduction-text">
            {{ self.subtitle }}
          </p>
        </div>
      </div>
    </div>
  {% endblock %}

{% block content %}
    <div class="content">
      <div class="content__container">
        <div class="content__answer richtext">
          {{ self.content|richtext }}
        </div>
      </div>
    </div>
{% endblock %}

  </div>
{% endblock content_area %}
