name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the docker image
      run: docker-compose -f local.yml build
    - name: Run Tests
      run: docker-compose -f local.yml run --rm django pytest
